<div class="jumbotron">
    <h1>Let's review your order!</h1>  
</div>

<h2>Below is a summary of your order:</h2><br>


<% @order.order_items.each do |k,v| %>
  <ul>
    <li><h3><%= Product.find(k).name %></h3></li>
    <li><h3>QTY: <%= v %></h3></li>
  </ul>
<% end %>
<h4>
<p>
  <strong>Subtotal: </strong><%= number_to_currency @order.subtotal %> 
</p>

<p>
  <strong>Sales Tax: </strong><%= number_to_currency @order.sales_tax %> 
</p>

<p>
  <strong>Flat Rate Shipping: </strong> $ 9.99 
</p>

<p>
  <strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>
</h4>

<div>
  <%= form_tag order_complete_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span><%= number_to_currency @order.grand_total %></span>
      </label>
    </article>
    <div>
      <%= hidden_field_tag :order_id, @order.id %>
    </div>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Taylor Made Unique"
            data-description="TMU Product Purchase" 
            data-amount="<%= (@order.grand_total.to_f.round(2) * 100) %>"
            data-locale="auto"
            data-zip-code="true"
            data-billing-address="true"
            data-shipping-address="true">
    </script>
  <% end %>
</div>