<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Taylor Made Unique Products and Services!</h1>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "tmu_wbstlogo.jpg" %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag "closed_kits.jpg" %>
      <div class="carousel-caption">
        ...
      </div>
    </div>

    <div class="item">
      <%= image_tag "ss.jpg" %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <h1>Our Products</h1>
  <p class="lead">Our product line consists of spa kit packages for an at home spa day experience. Each spa kit includes: 2 scented bath bombs, an epson and himalayan bath salt mix (unscented), a honey and clay facial mask (just add liquid and stir), a scented sugar exfoliation bar, scented massage oil, and 2 tea light candles (unscented). Our spa kits are made with natural ingredients that are gentle on the skin. We currently have spa kits available in citrus mint and lavender chamomile scent. Don't be shy, give our products a try!</p>

<div class="row">
  <div class="col-sm-4"><%= image_tag "bath_salt_mix.jpg", :size => "300x300" %></div>
  <div class="col-sm-4"><%= image_tag "mask_candles.jpg", :size => "300x300" %></div> 
  <div class="col-sm-4"><%= image_tag "exfoliation_bar.jpg", :size => "300x300"%></div>
  
</div>

<h2>Background:</h2>
<h2>Why we make spa kits?</h2>
<p class="lead">
Spa therapy (also known as a bath or hydrotherapy) has been used for centuries and have known benefits for many common aches and pains according to several studies (Guillemin et al. 1994; Tubergen and Linden 2002; Sukenik et al. 2002). Today’s average spa visit ranges from $30+ depending on the service (i.e. massage, steam rooms, saunas, mud baths, etc.) and/or length of time (average 30 minute minimum). This can be on the pricey side and not a lot of people who would greatly benefit from those products/services can actually afford them. Taylor Made Unique places beneficial items into each spa kit to help everyday working people relax after a long day, by turning their bathroom into an oasis.</p>
<br> 
<h6>References</h6>
<h6>Guillemin, F., F. Constant, J. F. Collin and M. Boulange, 1994: Short and long-term effect of spa therapy in chronic low back pain. Rheumatology (Oxford), 33(2), 148-151.</h6>
<h6>Sukenik, S., D. Flusser and M. Abu-Shakra, 1999: The role of spa therapy in various rheumatic diseases. Rheumatic Disease Clinics of North America, 25, 883-897.
</h6>
<h6>Tubergen, A van and S van der Linden, 2002: A brief history of spa therapy. Ann. Rheum. Dis., 61: 273-275. 
</h6></p>
<h1>Our Services</h1>
<p class="lead">
We provide web development services for environmentally friendly businesses and individuals who wish to share their products and services or gifts and talents with the world. We also provide teaching and tutoring services for those who wish to learn about website design. For more information please email: <h2>taylormadeunique@gmail.com</h2></p>
<h3>Please include the following information for a service request: <br>
<li> Subject header should read: Web Design Service.</li>
<li>Let us know which service you need.</li>
<li>Include contact info. and the best time of day that you can be reached.</li></h3>
