<div class="jumbotron">
    <h1>Spa Kit Products</h1>
    <h2>Made with natural ingredients!</h2>
</div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel-body">
        <%= image_tag "pic2.jpg", :size => "350x450" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-body">
        <h1>Make time for rest and relaxation with one of our Hydro-Therapy Spa Kits!</h1>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel-body">
        <%= image_tag "pic1.jpg", :size => "350x450" %>
      </div>
    </div>
  </div>

    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-6">
         <tbody>
    
          <div class="well center-it"> 
            <tr>  
                <h2><%= product.name %></h2>   
                <p><%= product.description %></p><br>
                <p>Price: <%= number_to_currency product.price %></p><br>

                <p>
                  <%= form_tag add_to_cart_path do %>
                    <%= hidden_field_tag :product_id, product.id %>
                    <%= number_field_tag :quantity, nil, placeholder: "How many?" %>
                    <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
                  <% end %>
            </tr>
          </div>
         </tbody>   
        </div> 
      <% end %>
    </div>
    <br>
    <h2>Our Policy</h2>
<p class="lead">
Cancellations: After an order has been placed and paid for there is no cancellation on the product. 
<br>
Refunds and Exchanges: If there are problems with a product that you have purchased, please notify us via email with detail of those problems within 3 days of receiving the product, and we will arrange a refund or replacement. For damaged items, the refund must be taken as an exchange for original product purchased and does not include broken bath bombs due to shipping and handling. Proof of purchase and return of the product is required in order to receive a refund or replacement. Please include the following information for a return request:  <br><h4>
<li> Your name, address,</li>
<li>email address, contact number,</li>
<li>original order number, and the reason for the return.</li></h4></p><br>
<h2>Security</h2>
<p class="lead">

We protect you using Secure Socket Layer (SSL), certificate automatically managed by Heroku, so that if anyone should try to intercept it, all details are unreadable. Make sure that you have typed in https://www.taylormadeunique.com for your protection. We also recommend as good internet practice to log out of our website and close your browser when you have completed your online shopping.
We do not store addresses or retain complete credit card details on our website, database or any communications associated with our website. Stripe handles all credit card payments and address information. Therefore when we send email correspondence after your payment has been successfully received, please verify that your shipping address, order number and order details are accurate as soon as possible with an email reply. 

</p>