<!DOCTYPE html>
<html>
  <head>
    <title>TMU Online Store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   
  </head>

  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TMU</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Shop", shop_path %></li>
      <li><%= link_to "Blog", blog_path %></li>
      <li><%= link_to "Contact", contact_path %></li>

  
    </ul>
    <ul class="nav navbar-nav navbar-right">

  <li><%= link_to view_order_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-shopping-cart"></i> Cart
<% end %>
  </li> <!-- already here -->
  <!-- add this code: -->
  <% if user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Hello, <%= current_user.email %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
  <% end %>
</ul>
</nav>
    
   
  <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   

  

    <div class="container">
      <%= yield %>
    </div>
    
    
  </body>

    
</html>

        <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <%= link_to "Home", home_path %>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <%= link_to "Shop", shop_path %>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <%= link_to "Blog", blog_path %>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <%= link_to "Contact", contact_path %>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; TAYLOR MADE UNIQUE 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.youtube.com/channel/UCHu1MNmRunnABNHm5Em39MA" target="_blank">
                  <i class="fa fa-youtube fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.amazon.com/" target="_blank">
                  <i class="fa fa-amazon fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> 


</div>

    
